* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

h1{
  text-align: center;
  color: white;
}

body {
  background: darkgray;
  min-height: 100vh;
}

span{
  text-align: center;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.row{
  width: 100%;
}

.row::after{
  content:"";
  display: table;
  clear: both;
}

.hide{
  display: none;
}

header {
  width: 100%;
  background: black;
}

.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img{
  margin: 10px;
  height: 80px;
}

.logo:hover img{
  display: none;
}

.movie-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.poster-container{
  background-color: black;
  height: 500px;
  width: 350px;
  border: 1px solid white;
  overflow: hidden;
}

.info-container{
  padding: 20px;
  display: none;
  flex-direction: column;
  align-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  height: 500px;
  width: 342px;

}

li:hover .info-container{
  display: flex;

}

li:hover .poster-container{
  opacity: 0.5;
}

.subst-img{
  text-align: center;
}

.movies-container{
  display: flex;
  overflow-x: scroll;
  justify-content: space-between;
  color: white;
  list-style: none;
}

.movie{
  margin: 20px;
  position: relative;
}

.arrow-container{
  height: 100%;
  font-weight: 400;
  font-size: 80px;
  color: white;
  padding: 20px;
}

.stars-container{
  position: relative;
  color: white;
  width: 80px;
  margin: auto;
}

.star-under, .star-over{
  list-style: none;
  display: flex;
}

.star-over{
  position: absolute;
  top: 0;
  left: 0;
  flex-wrap: nowrap;
  overflow: hidden;
}
